.theme-dark {
    background-color: #000!important;
    color: #fff !important;
  
    .ck-check-icon {
      color: #fff!important;
    }

    .ck-login {
      background-color: #000!important;
    }
  
    .ck-login-window {
      background-color: var(--bs-gray-dark);
    }
  
    .login-header {
      color: #fff !important;
    }

    .theme-switch {
      background-color: #000 !important;
      .circle {
        border: 1px solid rgb(206, 212, 218);
      }
    }
  
    input {
      background-color: #000 !important;
      border-color: #666 !important;
      color: #fff !important;
      &:focus {
        border-color: #666;
        color: #fff;
        background-color: #000;
        box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25);
      }
    }
    .ck-combo {
      color: #fff !important;
      background-color: var(--bs-gray-dark) !important;
      .table {
        color: #fff !important;
      }
    }

    .table-hover {
      tbody tr:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }