<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta content="telephone=no" name="format-detection">
    <title>鹏诚车辆投保 Management DEV</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="fontawesome/all.min.css" rel="stylesheet"/>
    <link href="bootstrap/bootstrap.5.3.2.css" rel="stylesheet"/>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
    <script src="multiavatar.min.js"></script>
    <script>
        window.AMap = AMap
    </script>
</head>
<body>
<div id="react-main" ></div>
</body>
</html>

